body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5px;
  background: pink;
  height: 2px;
  border-color: hotpink;
}

h3.show-error{
  background: #f86363;;
  border: 2px solid red; 
  color: black;
}

h3.show-info{
  background: #74ff74;
  border: 2px solid #009c0d;
  color: #009c0d;
}

h3.show-warn{
  background: #ffd4a6;
  border: 2px solid orangered;
  color: orangered;
}

h3.show-message{
  text-align: center;
  font-size: 12pt;
  border-radius: 5px;
  height: 21px;
}

div#div-filters {
  height: 54px;
  padding: 7px 15px;
  border: 1px solid lightgray;
  border-radius: 4px;
  background: #f8f9fa;
  margin-bottom: 10px;
}

div.picture{
  position: relative;
  height: 80px;
  width: 90px;
  float: left;
  top: 6px;
}

.invisible{
  display: none;
}

#btn-go {
  float: right;
  position: relative;
  bottom: 54px;
}

h4.name{
  margin-bottom: 0px;
  width: 260px;
  font-size: 14pt;
  float: left;
  font-weight: 600;
}

img.thumbnail{
  left: 8px;
}

div#counter-elements{
  border: 3px solid lightgray;
  padding: 5px 0px 5px 5px;
  border-radius: 3px;
  display: inline-block;
  background: #ff69b48a;
  font-size: medium;
}

span#span-counter{
  background: lightgray;
  padding: 7px;
}


#show-users-table{ 
  position:absolute; 
  top:50px;
  right: 40px;
  display: none;
}

span.btn-close-table{
  float: right;
  font-weight: bold;
}
.btn-close-table:hover{
  cursor: pointer;
}

#table-users th{
  background-color: orangered;
  border: 1px solid;
  text-align: center;
} 

.th-number{
  max-width: 50px;
}

.th-text{
  max-width: 150px;
}

.th-text-short{
  max-width: 80px;
}

.table-users-row{
text-align: center;
}

.full-infos{
  display: none;
}